@using IGI_WEB_953501_Smolyar.Blazor.Client.Components
@page "/apidemo"
@inject HttpClient client


<div class="container">
    <DrinksList @bind-Drinks="@Drinks" SelectedObjectChanged="ShowDetails"></DrinksList>
    <DrinkDetails @bind-Drink="SelectedDrink"></DrinkDetails>
</div>

@code {
    [Parameter]
    public IEnumerable<ListViewModel> Drinks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Drinks = await
    client.GetFromJsonAsync<IEnumerable<ListViewModel>>("api/drinks");
    }

    [Parameter]
    public DetailsViewModel SelectedDrink { get; set; }

    private async Task ShowDetails(int id)
    {
        SelectedDrink = await
    client.GetFromJsonAsync<DetailsViewModel>($"api/drinks/{id}");
    }
}