IGI_Web_953501_Smolyar/.vs
IGI_Web_953501_Smolyar/IGI_Web_953501_Smolyar/bin
IGI_Web_953501_Smolyar/IGI_Web_953501_Smolyar/obj
 
IGI_Web_953501_Smolyar/IGI_WEB_953501_Smolyar.Blazor/Client/bin
IGI_Web_953501_Smolyar/IGI_WEB_953501_Smolyar.Blazor/Client/obj
IGI_Web_953501_Smolyar/IGI_WEB_953501_Smolyar.Blazor/Server/bin
IGI_Web_953501_Smolyar/IGI_WEB_953501_Smolyar.Blazor/Server/obj
IGI_Web_953501_Smolyar/IGI_WEB_953501_Smolyar.Blazor/Shared/bin
IGI_Web_953501_Smolyar/IGI_WEB_953501_Smolyar.Blazor/Shared/obj